/* General rules and background image */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../images/background.png");
    background-color: #fcf7f8;
    background-position: top;
    color: #f3ca40;
    text-align: center;
    overflow: hidden;
}

/* Containers */
.container-title {
    width: 75vw;
    margin: 2vw auto 0;
}

.container-content {
    width: 90vw;
    margin: 2vw auto 0;
}

/* Core Styling */
.gsStyle {
    background-color: #000D24;
    border: 1px solid #F3CA40;
}

a {
    color: #f3ca40;
}

h1 {
    font-size: 1.5rem;
    margin: 1vw 1vw 2vw;
}

/* Nav */
nav {
    background-color: #000D24;
    width: 80vw;
    margin: 0 10vw;
    color: #f3ca40;
}

nav a, .sidenav li a, nav ul a {
    color: #f3ca40;
}

.sidenav {
    width: 75vw;
}

.logo {
    font-size: 2rem;
}

/* Buttons */
.buttonStyle {
    color: #f3ca40;
    float: none;
    font-size: 1.5rem;
    padding: 5vw 10vw;
}

/* Input fields */
.input-field .icons {
    font-size: 2rem;
    padding: 1vh 10vw 0 0;
    color: #f3ca40;
}

.input-field [type=text],
.input-field [type=password] {
    color: #f3ca40;
}

.input-field label {
    color: #f3ca40;
  }

.input-field input[type=text]:focus + label {
    color:#f3ca40;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #c0960c;
    box-shadow: 0 1px 0 0 #f3ca40;
    color: #f3ca40;
}

.input-field .prefix.active {
    color: #f3ca40;
}