/* General rules and background image */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../images/background.png");
    background-color: #fcf7f8;
    background-position: top;
    color: #f3ca40;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

/* Containers */
.container-title {
    width: 75vw;
    margin: 2vh auto 0;
}

.container-content {
    width: 90vw;
    margin: 2vh auto 0;
}

.container-flashes {
    width: 60vw;
    margin: 2vh auto 0;
    padding: 0;
}
.container-terms {
    margin-bottom: 0;
}

.container-info {
    padding: 4vw 4vw 0;
}

.container-redirect {
    margin-bottom: 1vh;
}

.container-input {
    margin: -3vh 0 -1vh;
}

.container-form {
    margin-top: 4vh;
}

.container-modify {
    display: inline;
}

/* Core Styling */
.gsStyle {
    background-color: #000D24;
    border: 1px solid #F3CA40;
}

a {
    color: #f3ca40;
}

h1 {
    font-size: 1.4rem;
    margin: 3vw 1vw 2vw;
}

h2 {
    font-size: 1rem;
    margin: 3vw 0;
}

/* Nav */
nav {
    background-color: #000D24;
    width: 80vw;
    margin: 0 10vw;
    color: #f3ca40;
}

nav a, .sidenav li a, nav ul a {
    color: #f3ca40;
}

.sidenav {
    width: 75vw;
}

.brandLogo {
    /* font-size: 1.25rem; */
    display: inline;
    width: 14vw;
    right: 4vw;
    top: 2vw;
    position: relative;
}

.brandTitle, .brandTitleMobile {
    display: inline;
    font-size: 1.25rem;
    padding-bottom: 1vh;
    position: relative;
    bottom: 2vh;
}

.brandTitleMobile {
    right: 8vw;
}

/* Buttons */
.btnS {
    width: 25vw;
}

.btnM {
    width: 50vw;
    font-size: 1.5rem;
    padding: 2vw 0 2vw;
    margin-top: 1vh;
}

.btnL {
    width: 75vw;
    font-size: 1.75rem;
}

.buttonStyle {
    color: #f3ca40;
    display: inline-block;
    text-align: center;
    margin-bottom: 1vw;
    font-family: 'Schoolbell', cursive;
}

.btnEdit {
    padding: 1vw;
}

/* Input fields */
.input-field {
    margin: 1.5vh 0 0 0;
}

.input-field .icons {
    font-size: 2rem;
    color: #f3ca40;
}

.input-field [type=text],
.input-field [type=password],
textarea {
    color: #f3ca40;
}

.input-field label {
    color: #f3ca40;
  }

.input-field input[type=text]:focus + label {
    color:#f3ca40;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #c0960c;
    box-shadow: 0 1px 0 0 #f3ca40;
    color: #f3ca40;
}

.input-field .prefix.active {
    color: #f3ca40;
}

/* Gamersaurus.html */
.termTitle {
    margin: 1vw;
    font-weight: 750;
    font-size: 1.25rem;
    float: none;
    width: 10vw;
    word-wrap: break-word;
}


.termText {
    font-family: 'Schoolbell', cursive;
}

.termText, .termKey {
    font-size: 1rem;
    display: inline;
}

.iconExpand {
    position: absolute;
}

/* Login/Register */
.redirect-msg {
    margin-top: -1.5vh;
    padding-bottom: 1vh;
}
.redirect-btn {
    margin-top: 1vh;
}


.logo {
    width: 14vw;
    /* padding-right: 10vw; */
}