{% extends "base.html" %}
{% block contentmain %}
    <div class="container-content gsStyle">
        <h1>Add Task</h1>
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('add_term') }}">
                <!-- Term name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-scroll prefix"></i>
                        <input id="term" name="term" minlength="5" maxlength="50" type="text" class="validate" required>
                        <label for="term">Term</label>
                    </div>
                </div>
                <!-- Term definition -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-question-circle prefix"></i>
                        <textarea id="definition" name="definition" minlength="5" maxlength="200"
                            class="materialize-textarea validate" required></textarea>
                        <label for="definition">Definition</label>
                    </div>
                </div>
                <!-- Term example -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-comments prefix"></i>
                        <textarea id="example" name="example" minlength="5" maxlength="200"
                            class="materialize-textarea validate" required></textarea>
                        <label for="example">Example</label>
                    </div>
                </div>
                <!-- Submit button -->
                <div class="row">
                    <div class="col s12">
                        <button class="s4 gsStyle buttonStyle" type="submit">
                            <i class="fas fa-plus-square right">Add Term</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}