{% extends "base.html" %}
{% block contentmain %}
    <div class="gsStyle">
        <h1>Contact</h1>
        <h2>Get in touch with us</h2>
        <div class="row container-form">
            <form id="contactForm">
                <!-- Name -->
                <div class="row container-input">
                    <div class="input-field col s12">
                        <i class="fas fa-tag prefix"></i>
                        <input id="formName" name="formName" minlength="2" maxlength="20" 
                            pattern="^[a-zA-Z_]+( [a-zA-Z_]+)*$" type="text" class="validate" 
                            required>
                        <label for="formName">Name</label>
                        <span class="helper-text">Name can't contain number or spaces.</span>
                    </div>
                </div>
                <!-- Email -->
                <div class="row container-input">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope-open-text prefix"></i>
                        <input id="formEmail" name="formEmail" type="email" class="validate" required> 
                        <label for="formEmail">Email</label>
                    </div>
                </div>
                <!-- Query -->
                <div class="row container-input">
                    <div class="input-field col s12">
                        <i class="fas fa-comment-dots prefix"></i>
                        <textarea id="formMessage" name="formMessage"  minlength="5" maxlength="200"
                            class="materialize-textarea"></textarea>
                        <label for="formMessage">Message</label>
                        <span id="msgError" class="helper-text">Minimum 5 characters</span>
                    </div>
                </div>
                <!-- Submit query button -->
                <div class="row container-input">
                    <div class="col s12">
                        <button id="buttonContact" class="gsStyle buttonStyle btnL" type="submit">
                            <i class="fas fa-submit"></i> Submit <i class="far fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}