{% extends "base.html" %}
{% block contentmain %}
    <div class="gsStyle">
        <h1>Contact</h1>
        <h2>Get in touch with us</h2>
        <!-- Contact Form -->
        <div class="row container-form">
            <form id="formContact">
                <!-- Name -->
                <div class="row container-input">
                    <div class="input-field col s12">
                        <i class="fas fa-tag prefix"></i>
                        <input id="contactName" name="contactName" minlength="2" maxlength="20" 
                            type="text">
                        <label for="contactName">Name</label>
                    </div>
                </div>
                <!-- Email -->
                <div class="row container-input">
                    <div class="input-field col s12">
                        <i class="fas fa-envelope-open-text prefix"></i>
                        <input id="contactEmail" name="contactEmail" type="email" class="validate"> 
                        <label for="contactEmail">Email</label>
                    </div>
                </div>
                <!-- Query -->
                <div class="row container-input">
                    <div class="input-field col s12">
                        <i class="fas fa-comment-dots prefix"></i>
                        <textarea id="contactMessage" name="contactMessage"  minlength="5" maxlength="200"
                            class="materialize-textarea"></textarea>
                        <label for="contactMessage">Message</label>
                        <span id="msgError" class="error-text"></span>
                    </div>
                </div>
                <!-- Submit query button -->
                <div class="row container-input">
                    <div class="col s12">
                        <button id="buttonContact" class="gsStyle buttonStyle btnL" type="submit">
                            <i class="fas fa-submit"></i> Submit <i class="far fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}