{% extends "base.html" %}
{% block contentmain %}
    <div class="gsStyle">
        <h1>Edit term</h1>
        <div class="row container-form">
            <form class="col s12" method="POST" action="{{ url_for('edit_term', term_id=term._id) }}">
                <!-- Term name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-scroll prefix"></i>
                        <input id="term" name="term" minlength="2" maxlength="50" value="{{ term.term }}"
                            pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$" type="text" class="validate" required>
                        <label for="term">Term</label>
                    </div>
                </div>
                <!-- Term definition -->
                <div class="row container-input">
                    <div class="input-field col s12">
                        <i class="far fa-question-circle prefix"></i>
                        <textarea id="definition" name="definition" minlength="5" maxlength="200"
                            pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$" class="materialize-textarea validate" required>
                                {{- term.definition -}} 
                            </textarea>
                        <label for="definition">Definition</label>
                    </div>
                </div>
                <!-- Term example -->
                <div class="row container-input">
                    <div class="input-field col s12">
                        <i class="fas fa-comments prefix"></i>
                        <textarea id="example" name="example" minlength="5" maxlength="200"
                            pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$" class="materialize-textarea validate" required>
                                {{- term.example -}}
                            </textarea>
                        <label for="example">Example</label>
                    </div>
                </div>
                <!-- Edit/Cancel button -->
                <div class="row container-input">
                    <div class="col s12">
                        <button class="gsStyle buttonStyle btnM" type="submit">
                            <i class="fas fa-edit"></i> Edit Term
                        </button>
                        <a href="{{ url_for('get_gs') }}" class="gsStyle buttonStyle btnCancel btnM">
                            <i class="fas fa-times-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}