{% extends "base.html" %}
{% block contentmain %}

    <div class="container-title gsStyle">
        <h1>Current Terms</h1>
        <p class="termGuide">Tap term to view more!</p>
    </div>
    <!-- Credit for materialize collapsible accordion -->
    <ul class="collapsible gsStyle">
        {% for term in terms %}
        <li>
            <div class="collapsible-header row container-terms gsStyle">
                <div class="col s6 termTitle center-align">
                    {{ term.term }}
                </div>
                <div class="col s6">
                    {% if session.user|lower == term.submitted_by|lower %}
                    <div class="col s12">
                        <div class="row container-icon">
                            <div class="col s6">
                                <a href="{{ url_for('edit_term', term_id=term._id) }}"> <i class="fas fa-edit"></i></a>
                            </div>
                            <div class="col s6">
                                <a href="{{ url_for('delete_term', term_id=term._id) }}"> <i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body container-info gsStyle">
                <p class="termKey">Definition: <div class="termText">{{ term.definition }}</div></p>
                <p class="termKey">Example: <div class="termText">{{ term.example }}</div></p>
                <p class="termKey">Submitted by: <div class="termText">{{ term.submitted_by }}</div></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}