{% extends "base.html" %}
{% block contentmain %}
    <div class="container-content gsStyle">
        <h1>Log in to your Gamersaurus account</h1>
        <div class="row">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
                <div class="card-panel gsStyle">
                    <!-- Username field -->
                    <div class="row container-input">
                        <div class="input-field col s12">
                            <i class="prefix fas fa-user-tag icons"></i>
                            <input id="username" name="username" type="text" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username">Enter username</label>
                        </div>
                    </div>
                    <!-- Password field -->
                    <div class="row container-input">
                        <div class="input-field col s12">
                            <i class="prefix fas fa-user-lock icons"></i>
                            <input id="password" name="password" type="password" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username">Enter a password</label>
                        </div>
                    </div>
                    <!-- Login button -->
                    <div class="row container-input">
                        <button type="submit" class="s4 gsStyle buttonStyle btnM">
                            Login <i class="fas fa-sign-in-alt icons"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row container-input">
            <div class="col s12 container-redirect">
                <p class="redirect-msg">No account yet?<br><a class="gsStyle buttonStyle btnL redirect-btn" href="{{ url_for('register') }}">Register here!</a></p>
            </div>
        </div>
    </div>
{% endblock %}