{% extends "base.html" %}
{% block contentmain %}
    <div class="container-profile gsStyle">
        <h1>{{ username }}'s profile</h1>
        <div class="titleProfile">
            <h2>Terms you've submitted to the GamerSaurus</h2>
        </div>
    </div>
    <!-- Credit for materialize collapsible accordion -->
    {% if userterms|length > 0 %}
        <div class="row container-input">
            <div class="col s12">
                <a href="{{ url_for('add_term') }}" class="gsStyle buttonStyle btnAdd btnM">
                    Add term <i class="fas fa-plus-square"></i>
                </a>
            </div>
        </div>
        <ul class="collapsible container-userterms gsStyle">
            {% for term in userterms %}
            <li>
                <div class="collapsible-header row container-terms gsStyle">
                    <div class="col s6 termTitle center-align">
                        {{ term.term }}
                    </div>
                    <div class="col s6">
                        {% if session.user|lower == term.submitted_by|lower %}
                        <div class="col s12">
                            <div class="row container-icon">
                                <div class="col s5">
                                    <a href="{{ url_for('edit_term', term_id=term._id) }}"> <i class="fas fa-edit"></i></a>
                                </div>
                                <div class="col s5">
                                    <a data-target="{{ term._id }}" class="modal-trigger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="collapsible-body container-info gsStyle">
                    <p class="termKey">Definition: <div class="termText altFont">{{ term.definition }}</div></p>
                    <p class="termKey">Example: <div class="termText altFont">{{ term.example }}</div></p>
                    <p class="termKey">Submitted by: <div class="termText altFont">{{ term.submitted_by }}</div></p>
                </div>
            </li>
            <li id="{{ term._id }}" class="modal gsStyle">
                <div class="modal-content">
                    <h2>Are you sure you want to delete the term:</h2>
                    <p class="termDelete">"{{ term.term }}"?</p>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a href="{{ url_for('delete_term', term_id=term._id) }}" class="gsStyle buttonStyle btnL">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                        <a href="{{ url_for('get_gs') }}" class="gsStyle buttonStyle btnCancel btnL">
                            <i class="fas fa-times-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="row gsStyle">
            <div class="col s10 offset-s1">
                <h2 class="">You haven't submitted any terms yet. <br><br>Why not add one using the button below?</h2>
                <a href="{{ url_for('add_term') }}" class="gsStyle buttonStyle btnAdd btnL">
                    Add term <i class="fas fa-plus-square"></i>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}